#tmFBCanvasContainer {
    height: 100%;
    width: 100%;

    background-color: var(--gray-100);
    overflow: hidden;
}

#tmFBCanvas {
    --tm-fb-scale: 1;
    transform: translate(-50%, -50%) scale(var(--tm-fb-scale));

    background-image: var(--tm-fb-canvas-image);
    background-repeat: repeat;

    position: relative;
    cursor: grab;

    box-shadow: inset 0 0 0 3px red;
}

#tmFBCanvas:active {
    cursor: grabbing;
}

#tmFBCanvas > *,
#tmFBCanvas:active > * {
    cursor: initial;
}

#tmFBCanvas .tm-fb-block {
    position: absolute;
    background-color: #ccccccbb;
    border-radius: 10px;
}

#tmFBCanvas .tm-fb-port {
    position: absolute;
    background-color: #09a9c8ee;

    border-radius: 50%;
    transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-size: x-small;
    line-height: 1em;

    user-select: none;
    cursor: grab;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: background-color 0.2s ease-in-out;
}

#tmFBCanvas .tm-fb-port:hover {
    background-color: #09a9c8;
}

#tmFBCanvas .tm-fb-port:active {
    cursor: grabbing;
}